@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


* {

    margin: 0;
    padding: 0;

}



.sidebar {

    background-color: rgb(204, 220, 221);
    width: 20vw;
    font-family: 'Cutive Mono', monospace;
}

.sidebar nav {

    background-color: rgb(237, 231, 231);
    width: 10vw;
    padding: 60px;
}

.sidebar nav li {

    list-style: none;

    font-size: 30px;

    padding: 33px;

}


.container {

    display: flex;

}

.infoContainer {

    background-color: rgb(248, 251, 248);
    height: 140vh;
    width: 30 vh;
    margin: auto;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;

}

.main {

    background-color: rgb(110, 148, 236);
    height: fit-content;
    margin: 90px;
}

.devinfo {
    height: 78vh;
    display: flex;
    justify-content: center;
    flex-direction: coloumn;
    padding: 30%;
}

.hello {
    display: flex;
    font-size: 85px;
    flex-direction: column;
}

.about {
    display: flex;
    font-size: 85px;
    flex-direction: column;
    font-size: 65px;
}

.name {
    display: flex;
    font-size: 85px;
    flex-direction: column-reverse;
    font-size: 65px;
    font-size: 70px;
    font-weight: bold;
}

.buttons {

    color: beige;
}

.devpic img {
    height: max-content;
    display: flex;
    width: auto;


}

.Aboutme {
    display: flex;
    flex-direction: calc();
    font-family: Arial, Helvetica, sans-serif;

}

.education {
    margin-top: 5vh;
    padding-right: 10vh;

}